.R1{
    font-size: 19px;
    line-height: 30px;

}

@media screen and (max-width: 1895px) {
    .R1 {
        font-size: 18px;
        line-height: 27px;
    }
}

@media screen and (max-width: 1683px) {
    .R1 {
        font-size: 18px;
        line-height: 25px;
    }
}


@media screen and (max-width: 1282px) {
    .R1 {
        font-size: 15px;
        line-height: 25px;
    }
}



/*FOOTER*/
.posytam0{
    margin-top: 30px;
    float: left;
    max-width: 200px;
    height: auto;
}


.posytam{
    margin-top: 20px;

    width: 480px;


}

.posytam0>img{
    max-width: 95%;
}

.posytam>img{
    max-width: 95%;
}

@media screen and (max-width: 870px) {
    .ocultarmq {
        display: none;
    }
}

@media screen and (max-width: 1290px) {
    #ocultarmq2 {
        display: none;
    }
}

@media screen and (max-width: 1080px) {
    #ocultarmq3 {
        display: none;
    }
}


@media screen and (max-width: 860px) {
    #ocultarmq4 {
        display: none;
    }
}

@media screen and (max-width: 487px) {
    #ocultarmq5 {
        max-width: 85%;

    }
}
/*FOOTER*/