.titulo45{
    font-size: 43px;
}

.Titulo958{
    color: #FF9800;
}

@media screen and (max-width: 435px) {
    .titulo45{
    font-size: 35px;
    }
}

@media screen and (max-width: 1540px) {
    .desaparece85{
        display: none;
    }
}


@media screen and (max-width: 1367px) {
    .desaparece86{
        display: none;
    }
}

@media screen and (max-width: 1300px) {
    .desaparece87{
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .desaparece87,.desaparece86{
        display: inline;
    }
}
/*CSS DE CATALOGO*/
.img152{
    position: absolute;
    top: 0;
    bottom: 0;
    right:0;
    left:0;
    margin:auto;
    /*border: 2px solid #FFA000;*/
}
.thumbnail{
    background-color: #5D4037;
    -moz-box-shadow: 0px 5px 0px #FF9800;
    -webkit-box-shadow: 0px 5px 0px #FF9800;
    box-shadow: 0px 5px 0px #FF9800;
    border: 2px solid #5D4037;
}
.thumbnail:hover{
    border-color:  #ff9800;
}
.thumbnail .caption{
    color: #ffffff;
    text-align: center;

}
.thumbnail{
    overflow: hidden;
}
.thumbnail>.caption>h3{
    margin-top: 0px;
    font-size: 18px;
}
.styleimg{
    border-radius: 5px;
}
.divhide{
    display: none;
}
@media screen and (min-width:350px) and (max-width: 768px){
    .divhide{
        display: inherit;
    }

}
/*/CSS DE CATALOGO*/


.ir-arriba {
    z-index: 1;
    display:none;
    padding:15px;
    /*margin: 10px;*/
    background:#4E342E;
    font-size:20px;
    color:#fff;
    cursor:pointer;
    position: fixed;
    bottom:20px;
    right:10px;
    box-shadow: 5px 7px 7px rgba(0,0,0,0.5);
}

.parrafo516{
    vertical-align: middle;
    font-size: 25px;
    margin-top: .5%;
    color: #ffffff
}

@media screen and (max-width: 550px) {
    .parrafo516{

        font-size: 20px;

    }
}

