#estilo54{
    border: 1px solid transparent;
    border-radius: 5px;
}
th{
    text-align: center;
    vertical-align: middle;
    color: #FAFAFA;
}


/*MANDAR FOOTER HASTA ABAJO*/
html, body {
    height: 100%;
}

.paraelfooter {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}