
body{
    background-color: rgb(78, 52, 46);
}




html{
    margin: 0;
    padding: 0;
}

.boxlogin{
    margin: 30px auto;
    max-width: 400px;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
}

#flogin{
    margin: 10px;

}
button{
    margin-top: 10px;

}

.jumbotron{
    border-radius: 10px;
    background-color: #FAFAFA;
    padding-top: 3px;
    padding-bottom: 10px;
}

#tabla{
    -webkit-box-shadow: 0px 43px 22px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 64px 20px -40px rgba(50, 50, 50, 2);
    box-shadow:         0px 64px 20px -40px rgba(50, 50, 50, 2);
}
th {
    text-align: center;
}


.ir-arriba {
    z-index: 1;
    display:none;
    padding:15px;
    /*margin: 10px;*/
    background:#4E342E;
    font-size:20px;
    color:#fff;
    cursor:pointer;
    position: fixed;
    bottom:20px;
    right:10px;
    box-shadow: 5px 7px 7px rgba(0,0,0,0.5);
}

/*FOOTER*/

.posytam0{
    margin-top: 20px;
    margin-left: 10px;
    float: left;
    max-width: 155px;
    height: auto;
}
.lefts{
    margin-left: 25px;
}
.posytam{
    margin-top: 20px;
    margin-left: -10px;
    float: left;
    width: 430px;
    height: auto;
}
.posytam0>img{
    max-width: 80%;
}
.posytam>img{
    max-width: 80%;
}
@media screen and (max-width: 870px) {
    .ocultarmq {
        display: none;
    }
}
@media screen and (max-width: 1290px) {
    #ocultarmq2 {
        display: none;
    }
}
@media screen and (max-width: 1080px) {
    #ocultarmq3 {
        display: none;
    }
}
@media screen and (max-width: 860px) {
    #ocultarmq4 {
        display: none;
    }
}

@media screen and (max-width: 487px) {
    #ocultarmq5 {
        max-width: 100%;
        padding: 15px;
        margin-left: 5px;

    }
}
/*FOOTER*/
