#id20{
    background: rgba(33,33,33,0.6);
    margin-left: -400px;
    top: 0;
    max-width: 400px;
}

#id20>p{
    margin: 10px;
}
#row2{
    background-color: #FF9800;
    color: #ffffff;

}
.col1{
    padding-right: 0;
    padding-left: 0;
    text-align: center;
}
.jumbo1{
    padding-bottom: 0;
    margin-bottom: 0;

}
.jumbo1>p{
    font-size: 35px;
}

.parrafo1{
    font-size: 16px;

}
.parrafo2{
    text-align: left;
}

@media screen and (max-width: 400px) {
    .jumbo1>p{
        font-size: 30px;
    }
}


/*CSS DE CATALOGO*/
.img152{
    position: absolute;
    top: 0;
    bottom: 0;
    right:0;
    left:0;
    margin:auto;
    /*border: 2px solid #FFA000;*/
}
.thumbnail{
    background-color: #5D4037;
    -moz-box-shadow: 0px 5px 0px #FF9800;
    -webkit-box-shadow: 0px 5px 0px #FF9800;
    box-shadow: 0px 5px 0px #FF9800;
    border: 2px solid #5D4037;
}
.thumbnail:hover{
    border-color:  #ff9800;
}
.thumbnail .caption{
    color: #ffffff;
    text-align: center;

}
.thumbnail{
    overflow: hidden;
}
.thumbnail>.caption>h3{
    margin-top: 0px;
    font-size: 18px;
}
.styleimg{
    border-radius: 5px;
}
.divhide{
    display: none;
}
@media screen and (min-width:350px) and (max-width: 768px){
    .divhide{
        display: inherit;
    }

}
/*/CSS DE CATALOGO*/

.parrafo516{
    vertical-align: middle;
    font-size: 25px;
    margin-top: .5%;
    color: #ffffff
}

@media screen and (max-width: 550px) {
    .parrafo516{

        font-size: 20px;

    }
}



.ir-arriba {
    z-index: 1;
    display:none;
    padding:15px;
    /*margin: 10px;*/
    background:#4E342E;
    font-size:20px;
    color:#fff;
    cursor:pointer;
    position: fixed;
    bottom:20px;
    right:10px;
    box-shadow: 5px 7px 7px rgba(0,0,0,0.5);
}