

body{
    background-color: #4E342E;
}

html{
    margin: 0;
    padding: 0;
}

.boxlogin{
    margin: 30px auto;
    max-width: 400px;

}

#flogin{
    margin: 10px;

}
button{
    margin-top: 10px;

}

.jumbotron{
    border-radius: 10px;
}

.container>.jumbotron>form>img
{
    width: 60%;
}